.dashboard-searchbar .search-form-text {
  border: 2px solid #eaecf0 !important;
}

.dashboard-alignment {
  display: flex;
  justify-content: center;
}

.dashboard-searchbar-input {
  max-width: 450px !important;
}

.access-card-row {
  margin: 24px auto;
  display: grid;
  grid-gap: 6px;
  max-width: 1400px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  .dashboar-favourite {
    //span whole row
    grid-column: 1 / -1;
  }
}

.access-card-cont {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  border: 2px solid #eaecf0;
  transition: all 0.3s;

  &:hover {
    background-color: #eaecf0;
  }
}

.access-not-favourite {
  color: #00ada9 !important;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 999;

  svg {
    width: 14px;
    height: 14px;
  }
}
