#root {
  width: 100vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: #000 !important;
  -webkit-text-fill-color: #000 !important;
  background-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}