.app-sidebar {
  transform: translateY( 48px );

  .metismenu-container:nth-child(1){
    min-height: 60vh;
    height: fit-content;
    margin-bottom: 10px;
    border-bottom: 1px solid #494D57;
  }
}